.env
.env.local
.env.*.local
web/src/firebase/

*.db
*.sqlite3

*.log

.vscode/
.idea/
*.swp
*.swo

node_modules/
npm-debug.log
yarn-error.log

dist/
build/
.cache/
.tmp/

.vscode/
.idea/

.DS_Store
Thumbs.db
