# Git
.git
.gitignore

# Dockerfile
Dockerfile

# Документация
README.md

# Node modules
node_modules

# Сборка (будет создана внутри контейнера)
build

# Локальные env файлы
.env.local
.env.development.local
.env.test.local
.env.production.local

# Системные
*.DS_Store
*.log
